@media (max-width: 1199px) {
    .h1 {
        font-size: 55px;
    }

    /* .h2 {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 35px;
        line-height: 123%;
        letter-spacing: 0.07em;
    }

    .h3 {
        font-weight: 500;
        font-size: 25px;
        line-height: 116%;
        letter-spacing: 0.06em;
    }

    .h4 {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.07em;
    }

    .h5 {
        font-size: 16px;
        line-height: 116%;
        letter-spacing: 0.05em;
    } */

    .hero {
        padding: 40px 0 45px 0;
        background-position: 88% 100%;
    }
    .hero__title {
        max-width: 690px;
        margin-bottom: 30px;
    }
    .hero__text {
        max-width: 490px;
        margin-bottom: 35px;
    }
    .hero__btn {
        margin-bottom: 102px;
        padding: 28px 58px;
        font-size: 20px;
    }

    .advantages__row {
        overflow-x: auto;
    }

    .catalog {
        padding: 80px 0 200px 0;
    }
    
    .catalog__tabs .list-group li {
        font-size: 20px;
    }

    .catalog__list,
    .catalog__list-group {
        justify-content: center;
    }

    .consultation::before {
        content: url(../images/consultation/decor-left-mini.png);
    }
    .consultation::after {
        content: url(../images/consultation/decor-right-mini.png);
    } 
    .consultation__text {
        margin-bottom: 25px;
        line-height: 24px;
    }
    #consultation input {
        max-width: 324px;
    }
    .consultation__btn {
        font-family: 'Montserrat';
        font-weight: 600;
        padding: 19px 118px;
        font-size: 20px;
        letter-spacing: 0.07em;
    }

    .training {
        padding: 80px 0 100px 0;
    }
    .training__info {
        margin-bottom: 20px;
        flex-direction: column;
        gap: 15px;
    }
    .training__text-left,
    .training__text-right {
        max-width: unset;
    }
    .training__slider .slide__bottom h4 {
        font-size: 16px;
    }
    .training__btn-more {
        margin-top: 35px;
        justify-content: unset;
    }
    .training__btn-more a {
        padding: 28px 29px;
        font-size: 20px;
    }
    .tns-nav {
        bottom: -58px;
    }

    .team__wrapper::before {
        content: url(../images/logo.png);
        top: -75px;
    }
    .team__text {
        margin-bottom: 30px;
    }
    .team__advantages {
        margin-bottom: 30px;
    }
    .team__col {
        gap: 25px;
    }
    .team__btn {
        padding: 12px 28px;
    }

    .contacts .container {
        position: relative;
    }
    .contacts__text-start,
    .contacts__text {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.07em;
        font-weight: 600;
    }
    .contacts__text {
        margin-bottom: 25px;
    }
    .contacts__wrapper {
        align-items: flex-start;
        justify-content: space-between;
    }
    .contacts__form p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    .contacts__image img {
        width: 100%;
        width: 348px;
        height: 201px;
    }
    .contacts__form input + input {
        margin-top: 5px;
    }
    .contacts__form .checkbox-box {
        margin-top: 22px;
        margin-bottom: 30px;
    }
    .contacts__form-btn {
        padding: 18px 30px;
    }
    .contacts__bottom {
        position: absolute;
        bottom: -100px;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
    }
    .contacts__bottom-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .contacts__bottom-left,
    .contacts__bottom-right {
        width: 100%;
    }

    .footer .container {
        max-width: 768px;
    }
    .footer__contacts {
        width: 65%;
    }
    .footer__contacts-links a:first-of-type {
        display: none;
    }
    .footer__middle .footer__col:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer__middle .footer__link {
        display: block;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFD500;
    }
    .footer__btn {
        padding: 15px 20px;
    }
    .footer__lists ul {
        display: none;
    }
    .footer__lists {
        flex-direction: column;
        gap: 9px;
        margin: 0 55px 0 65px;
    }
    .footer__list-header {
        margin-bottom: 0;
    }

    .modal {
        padding: 70px;
        gap: 25px;
    }
    .modal__form {
        padding: 30px 20px;
    }
    .modal__image {
        display: none;
    }
    .modal.success,
    .modal.none-success {
        width: 100%;
        max-width: 720px;
        padding: 33px 50px 60px 50px;
    }
}

@media (max-width: 767px) {
    .header {
        position: fixed;
        z-index: 98;
        width: 100%;
    }
    .header__info,
    .header__nav {
        display: none;
    }
    .header__top {
        padding: 27px 0 10px 0;
    }
    .header__phone-wrapper{
        display: flex;
        justify-content: end;
    }
    .header__phone-mobile {
        color: white;
        font-size: 12px;
        line-height: 120%;
    }
    .header__bottom {
        padding: 7px 0;
        z-index: 100;
    }
    .header__cta-bottom {
        margin: 0;
        text-align: right;
        display: block;
        color: black;
        z-index: 999;
    }
    .menu-btn {
        display: flex;
        width: 30px;
        height: 30px;
        position: relative;
        right: 0;
        z-index: 99;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 5px;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 9px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 9px);
    }
    .menu {
        position: fixed;
        top:  138px;
        right: -100%;
        width: 100%;
        height: 242px;
        background: #FED500;
        transition: all 0.3s linear;
        z-index: 1;
        opacity: 0;
    }
    .menu.active {
        right: 0;
        background: #FED500;
        z-index: 9;
    }
    .menu .menu__wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px 24px;
        max-width: 480px;
        margin: 0 auto;
        transition: all 0.5s ease-in;
    }
    .menu.active {
        opacity: 1;
    }
    .menu .menu__top {
        display: flex;
        justify-content: center;
    }
    .menu .menu__top .header__location {
        position: relative;
        font-size: 12px;
    }
    .menu .menu__top .header__location::before {
        content: url(../images/icons/location-gray.svg);
        position: absolute;
        top: 50%; 
        left: 0;
        width: 20px;
        height: 19px;
    }
    .menu__middle {
        padding: 15px 0;
        display: flex;
        justify-content: space-around;
        gap: 60px;
        border-top: 1px solid rgba(53, 63, 75, 0.5);
        border-bottom: 1px solid rgba(53, 63, 75, 0.5);
    }

    .menu__middle ul li {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
    }

    .menu__middle ul li + li {
        margin-top: 10px;
    }

    .menu__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .menu__bottom-contacts .contacts__address {
        margin-bottom: 3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #353F4B;
    }
    .menu__bottom-contacts .contacts__address-bottom {
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.04em;
        color: #3A4635;
    }
    .menu__bottom-mail {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #353F4B;
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
    .container {
        padding: 0 24px;
    }
    .header__logo img {
        width: 105px;
        height: 54px;
    }

    .h1 {
        font-size: 36px;
    }
    .hero {
        padding: 160px 0 45px 0;
        background-position: 50% 100%;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__text {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .hero__btn {
        margin-bottom: 60px;
        padding: 22px 50px;
        font-size: 16px;
    }

    .advantages {
        padding: 23px 0;
    }
    .advantages__item {
        padding: 8px 17px;
    }
    .advantages__name {
        font-size: 20px;
        letter-spacing: 0.07em;
    }
    .advantages__text {
        min-width: 220px;
    }

    .catalog {
        padding: 50px 0 50px 0;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
    }
    .subtitle {
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.07em;
    }
    .subtitle::after {
        width: 72px;
        right: -122px;
    }
    .catalog__text {
        margin-bottom: 25px;
    }
    .catalog__text-start {
        padding-right: 0;
    }
    .catalog__text,
    .catalog__text-start {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    .catalog__tabs .list-group {
        margin-bottom: 40px;
        justify-content: unset;
        gap: 8px;
        overflow-x: auto;
    }
    .catalog__tabs .list-group li {
        min-width: 160px;
        font-size: 14px;
        padding: 12px 8px;
    }
    .catalog__list::before {
        top: -20px;
    }
    .catalog__card {
        padding: 20px 20px 15px 20px;
        max-width: 272px;
    }
    .catalog__card:hover {
        background: white;
    }
    .catalog__card h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .catalog__card-description {
        display: none;
    }
    .catalog__card:hover .catalog__card-description {
        opacity: 0;
        z-index: -1;
    }

    .consultation {
        padding: 50px 0;
    }
    .consultation:before {
        content: url(../images/consultation/decor-left-micro.png);
    }
    .consultation::after {
        content: url(../images/consultation/decor-right-micro.png);
    }
    .consultation h2 {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 600;
    }
    .consultation__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.04em;
        text-transform: none;
    }
    #consultation {
        flex-direction: column;
        gap: 5px;
    }
    #consultation input {
        max-width: 100%;
        width: 380px;
        font-size: 16px;
    }
    .consultation__btn {
        width: 380px;
        font-size: 16px;
        padding: 22px;
    }

    .training {
        padding: 50px 0;
    }
    .training__text-left {
        font-size: 16px;
        font-weight: 600;
    }
    .training__text-right {
        font-size: 14px;
    }
    .training__slider .slide a {
        min-height: 195px;
    }
    .training__btn-more {
        width: auto;
        margin-top: 62px;
    }
    .training__btn-more a {
        text-align: center;
        min-width: 271px;
        padding: 20px 3px;
        font-size: 16px;
    }
    .tns-nav {
        bottom: -35px;
        max-width: 100%;
        width: 100%;
        gap: 15px;
    }
    .training__slider .slide .training__play {
        padding: 11px 20px 10px 21px;
        width: 62px;
        height: 43px;
    }
    .training__slider .slide .training__img svg {
        width: 22px;
        height: 21px;
    }

    .team {
        padding: 50px 0 150px 0;
    }
    .team__wrapper::before {
        content: none;
    }
    .team__text-start {
        padding-right: 0;
    }
    .team__text-start,
    .team__text {
        font-size: 14px;
        line-height: 17px;
        text-align: left;
    }
    .team__text {
        margin-bottom: 25px;
    }
    .team__advantages {
        overflow-x: auto;
        justify-content: flex-start;
        gap: 25px;
    }
    .team__advantages-item {
        min-width: 120px;
    }
    .team__advantages-item h2 {
        margin-bottom: 5px;
        font-size: 25px;
        line-height: 116%;
        letter-spacing: 0.06em;
    }
    .team__advantages-descr {
        font-size: 14px;
        line-height: 17px;
    }
    .team__texts {
        gap: 10px;
        flex-direction: column;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.07em;
    }
    .team__text-left {
        align-self: flex-end;
    }
    .team__col {
        gap: 20px;
    }
    .team__images {
        gap: 10px;
    }
    .team__images img {
        height: 100%;
    }
    .team__btn {
        position: absolute;
        bottom: -40%;
        left: 0;
        padding: 15px 43px;
        font-size: 16px;
    }
    .contacts {
        padding: 50px 0;
    }
    .contacts__texts {
        display: none;
    }
    .contacts__text-mobile {
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
    }
    .contacts__wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .contacts__image img {
        width: 100%;
        height: 100%;
    }
    .contacts__form .checkbox-box {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .contacts__form .checkbox-box span {
        width: 100%;
    }
    .contacts__form-btn {
        width: 100%;
        padding: 20px 15px;
        font-size: 16px;
    }
    .contacts__bottom {
        position: static;
        align-items: center;
        gap: 14px;
    }
    .contacts__address-top {
        letter-spacing: 0.04em;
        font-size: 14px;
        font-weight: 500;
    }
    .contacts__bottom-right {
        gap: 10px;
    }
    .contacts__bottom-left,
     .contacts__bottom-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts__tel {
        text-align: center;
    }
    
    .contacts__bottom-right .media {
        position: static;
        transform: none;
    }
    .contacts__tel,
    .contacts__mail {
        font-weight: 500;
        font-size: 14px;
    }

    .objects {
        padding: 50px 0;
    }

    .footer {
        overflow: hidden;
    }
    .footer::before {
        top: -20px;
        right: -85px;
    }
    .footer img {
        margin-bottom: 30px;
        width: 130px;
        height: 69px;
    }
    .footer__contacts {
        width: 100%;
    }
    .footer__contacts-links {
        flex-direction: column-reverse;
        gap: 5px;
    }
    .footer__contacts-links a:first-of-type {
        display: block;
    }
    .footer__contacts .media {
        display: none;
    }
    .footer__middle {
        flex-wrap: wrap;
        gap: 20px 60px;
        padding: 14px 0;
        margin-bottom: 6px;
    }
    .footer__middle .footer__col:first-of-type {
        order: 3;
    }
    .footer__middle .footer__link {
        display: none;
    }
    .footer__lists {
        margin: 0;
    }
    #footer-middle-media {
        display: flex;
        align-items: flex-end;
        margin-top: 30px;
    }
    #footer-middle-media svg {
        height: 17px;
    }
    #footer-middle-media .tictok {
        height: 25px;
    }
    .footer__countries {
        margin-bottom: 35px;
        font-size: 12px;
    }
    .footer__ref {
        width: 50%;
    }
    .footer__developer {
        font-size: 10px;
    }

    .modal {
        padding: 40px;
        gap: 0;
    }
    .modal__cross {
        top: 10px;
        right: 10px;
    }
    .modal__form {
        padding: 20px 10px;
    }
    .modal__form form {
        gap: 15px;
    }
    .modal__form input {
        padding: 15px 25px;
    }
    .modal__text {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    .modal.success,
    .modal.none-success {
        width: 100%;
        max-width: 460px;
        padding: 30px 30px 50px 30px;
    }
    .modal.success div,
    .modal.none-success div {
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    .container {
        padding: 0 24px;
    }
    .h1 {
        font-size: 28px;
        line-height: 116%;
    }
    .hero {
        padding: 24px 0 13px 0;
        background-position: 50% 100%;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .hero__btn {
        margin-bottom: 30px;
        padding: 16px 37px;
        font-size: 14px;
    }
    .media a + a {
        margin-left: 5px;
    }
    .hero .media svg {
        height: 21px;
        width: auto;
    }
    .hero .media .tictok {
        height: 31px;
    }
    .header__cta-bottom {
        font-size: 12px;
    }

    .hero {
        padding: 170px 0 13px 0;
    }

    #consultation input {
        width: 271px;

    }
    .consultation__btn {
        width: 271px;
    }

    .team {
        padding: 50px 0 120px 0;
    }
    .team__btn {
        width: 100%;
        padding: 13px 40px;
        bottom: -60%;
    }

    .modal {
        padding: 40px 20px;

    }
    .modal__cross {
        top: 5px;
    }
    .modal__form {
        width: 250px;
    }
    .modal__form form {
        gap: 10px;
    }
    .modal__form input {
        padding: 15px 25px;
    }
    .modal__text {
        width: 100%;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 15px;
    }
    .modal__form .button__order {
        padding: 10px 15px;
        width: 100%;
        font-size: 14px;
    }

    .modal.success,
    .modal.none-success {
        max-width: 300px;
        padding: 30px 15px;
    }
    .modal.success .modal__logo,
    .modal.none-success .modal__logo {
        display: none;
    }
    .modal.success div,
    .modal.none-success div {
        font-size: 13px;
    }
}